body {
    background-color: #333;
    color: whitesmoke;
    position: relative;
    /* min-height: 100%; */
    min-height: 850px;
    font-family: "Questrial", sans-serif;
    letter-spacing: 1.2px;
    word-spacing: 1.5px;
    line-height: 1.25;
   margin: 0;
  }
  
  
  header {
    background-image: url(./images/books.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1400px auto;
    height: 300px;
    position: relative;
    bottom: 20px;
    margin: 0px;
    border-bottom: 12px solid #bfbd97;
  }
  
  ul {
    position: relative;
    list-style-type: none;
    top: 150px;
    right: 20px;
  }
  
  li {
    float: left;
    font-size: 20px;
  }
  
  .nav {
    display: block;
    padding: 3px 8px;
    text-decoration: none;
    color: whitesmoke;
    opacity: 0.9;
  }
  
  h1 {
    text-align: center;
    font-size: 60px;
    font-family: "Varela Round", sans-serif;
    position: relative;
    top: 10px;
  }
  
  /* bio page flexbox in need of style  */
  #container {
    display: flex;
    
  }
  
  .photo {
    border: none;
    grid-column: 1/2;
    margin: 15px;
    margin-left: 25px;
  }
  
  #bio {
    grid-column: 2/3;
    border: 7px solid whitesmoke;
    border-radius: 10px;
    margin: 12px;
    padding: 30px;
    margin-right: 30px;
    font-size: 20px;
  }
  /* portfolio page need to link resume to header*/
  
  

  
  /* contact page need to link to contact box and make linkedin account live*/
  
  #icons {
    background-color: whitesmoke;
    width: 350px;
    height: 100px;
    margin: 0 auto;
    padding-top: 25px;
    display: grid;
  
    
  }
  .contact-icon {
    height: 70px;
  }
  .contact-icon:hover {
    height: 70px;
    background: #bfbd97;
    border-radius: 7px;
    opacity: 0.8;
  }
  
  #icon1 {
    grid-column: 1/2;
  }
  
  #icon2 {
    grid-column: 2/3;
  }
  
  #icon3 {
    grid-column: 3/4;
  }
  
  .icon-name {
    color: black;
    margin-top: 0px;
  }
  
  /* footer area */
  footer {
    width: 100%;
    /* background-color: black; */
    height: 130px;
    background-color: whitesmoke;
    position: absolute;
    bottom: -100px;
    margin-left: -0px;
    margin-right: -0px;
  }
  
  .copy {
    font-size: 12px;
    text-align: center;
    color: black;
    position: relative;
    bottom: -25px;
    grid-column: 5/7;
    width: 100px;
    position: relative;
    margin: 0 auto;
  }
  
  .footer-icon-wrap {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .footer-icon {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }
  
  .footer-icon:hover {
    height: 40px;
    background: #bfbd97;
    border-radius: 7px;
    opacity: 0.8;
  }
  
  /* media queries ________________________________*/
  
  /* round photo in container*/

    .photo {
 
     border-radius: 20px;
      grid-column: 1/2;
      grid-row: 1/2;
      margin-top:25px;
      margin-bottom: 20px;
      width: 275px;
    }
  
    #bio {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-top: 20px;
      margin-bottom: 100px;
      display: flex;
    }
  